<h1>{{today.data.0.summary}}</h1>
<h1><The current air pressure is {{currently.pressure}}</h1>
<h1>The current humidity is {{currently.humidity}}</h1>
<h1>Visibility rating is {{currently.visibility}}</h1>
<h1>Windspeed is {{currently.windSpeed}}</h1>
<h1>Dewpoint is {{currently.dewPoint}}</h1>